<form {{action "updateNote" on="submit"}}>
  <h2>
    {{input value=params.title}}
  </h2>

  <div class="body">
    {{textarea value=params.body}}
  </div>

  <button type="submit">Submit</button>
</form>

{{link-to "Cancel to edit" "notes.note.index" model}}
