<div class="notes">
  <ul class="left-sidebar">
    <li {{action "createNote"}}>
      &plus; New note
    </li>

    {{note-list notes=model}}
  </ul>

  <div class="main-content">
    {{outlet}}
  </div>
</div>
